@media (max-width:1400px) {

}

@media (max-width:1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

    .header {
        .header__menu {
            padding: 0 50px;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #FFF;
            z-index: 5;
            display: flex;
            align-items: center;
            .header__navigation {
                li {
                    padding: 10px 0;
                }
            }
        }
    }

    .my-resume {
        .col-md-9 {
            &:before {
                display: none;
            }
        }
    }

    .my-project {
        .project__list {
            margin: 0 -10px;
            .product__item {
                padding: 10px;
                width: 50%;
            }
        }
    }

    .heading-default {
        margin: 0 0 20px;
        font-size: 48px;
    }
    .border-start {
        border: none !important;
    }
}

@media (max-width:576px) {

    .my-resume {
        .col-md-9 {
            &:before {
                display: none;
            }
            .my-resume__skill--item {
                flex-wrap: wrap;
                label {
                    margin: 0 0 10px;
                    width: 100%;
                }
                div {
                    span {
                        margin: 0 6px 0 0;
                    }
                }
            }
        }
    }

    .my-project {
        .project__list {
            margin: 0;
            .product__item {
                padding: 15px 0 0;
                width: 100%;
            }
        }
    }
    .my-blog {
        .my-blog__list {
            .my-blog__item {
                h3 {
                    font-size: 18px;
                }
            }
        }
    }

    .heading-default {
        margin: 0 0 15px;
        font-size: 36px;
    }
    .border-start {
        border: none !important;
    }
    .thank-you {
        img {
            width: 150px;
        }
    }
}